@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap");
h2 {
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  list-style: none;
}

#menu-menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: "Montserrat",sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

@media (max-width: 575px) {
  h1 {
    font-size: 1.25rem;
  }
}

.post-preview__content a {
  text-decoration: none;
  color: #000;
}

.post-preview__thumbnail {
  overflow: hidden;
}

.post-preview__thumbnail img {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.post-preview__thumbnail:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.post-preview {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#header {
  border-bottom: 1px solid #e4e8ec;
  padding: 1rem;
  color: #fff;
}

#header #menu-menu-header a {
  color: #000;
  font-size: 1.25rem;
  padding-right: 1rem;
  font-weight: 600;
}

#header #menu-menu-header .sub-menu {
  display: none;
  position: absolute;
  top: 30px;
  background: #fff;
  -webkit-box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.15);
  z-index: 99;
  padding: 1rem 0px;
  min-width: 250px;
}

#header #menu-menu-header .sub-menu li {
  margin-bottom: 0.25rem;
}

#header #menu-menu-header .sub-menu a {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem 1rem;
}

#header #menu-menu-header .sub-menu a:hover {
  background: rgba(240, 64, 123, 0.1);
}

#header #menu-menu-header li {
  position: relative;
}

#header #menu-menu-header li:hover .sub-menu {
  display: block;
}

.logo svg {
  width: 120px;
  height: 50px;
}

#header #btn-menu-responsive .bar1, #header #btn-menu-responsive .bar2, #header #btn-menu-responsive .bar3 {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 6px;
}

.m-mobile, .m-menu {
  display: none;
}

#btn-menu-responsive {
  background: none;
  border: none;
}

.m-menu {
  position: absolute;
  top: 0px;
  left: -100%;
  background: #fff;
  line-height: 1.5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  left: -100%;
  height: 100vh;
  padding-bottom: 100px;
  overflow-y: auto;
  z-index: 90;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
}

.m-menu.active {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.m-overlay {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 10;
}

#menu-menu-header-1 {
  z-index: 10000;
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
}

.m-menu #menu-menu-header-1 {
  padding: 20px;
}

.m-menu #menu-menu-header-1 li a {
  color: #000;
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
}

.post-time {
  color: green;
}

@media (max-width: 991px) {
  .m-mobile, .m-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desktop-menu {
    display: none;
  }
}

.scrolltoTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: green;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.archive-list .post-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tw-form-comment textarea {
  width: 100%;
}

.tw-input input {
  width: 50%;
}

.review-customer ul {
  padding-left: 0px;
}

.reply-text a, .reply-date a {
  color: #8c8c8c;
}

.qtv {
  margin-top: 6px;
  padding: 2px 10px;
  background: green;
  color: #fff;
  display: table;
  font-size: 12px;
}
/*# sourceMappingURL=custom.css.map */