#header{
    border-bottom: 1px solid rgb(228, 232, 236);
    padding: 1rem;
    color: #fff;
    #menu-menu-header{
        a{
            color: #000;
            font-size: 1.25rem;
            padding-right: 1rem;
            font-weight: 600;
        }
        .sub-menu{
            display: none;
            position: absolute;
            top: 30px;
            background: #fff;
            box-shadow: 4px 4px 50px rgba(0,0,0,0.15);
            z-index: 99;
            padding: 1rem 0px;
            min-width: 250px;
            // position: relative;
            li{
                margin-bottom: 0.25rem;
            }
            a{
                display: inline-block;
                width: 100%;
                font-size: 1rem;
                padding: 0.25rem 1rem ;
                &:hover{
                    background: rgba(240, 64, 123, 0.1);
                }
            }
        }
        li{
            position: relative;
        }
        li:hover .sub-menu{
            display: block;
        }
    }
}
.logo{
    svg{
        width: 120px;
        height: 50px;
    }
}