h2{
    font-size: 1.25rem;
}
img{
    max-width: 100%;
    height: auto;
}
ul{
    li{
        list-style: none;
    }
}
#menu-menu-header{
    display: flex;
}
a{
    text-decoration: none;
}
.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}