@font-face {
    font-family: "GaramondPremrPro";
    font-style: normal;
    font-weight: 700; 
    src: url("../fonts/GaramondPremrPro-Bd.ttf") format('truetype');
}

// @font-face {
//     font-family: "SF Pro Display";
//     font-style: normal;
//     font-weight: 400;
//     src: url("../fonts/SFProDisplay-Light.woff2") format("woff2");
// }
  